/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 175%;
  margin: 30px;
}

section {
  border: 1px solid black;
  background-color: gray;
  margin: 20px;
  height: 150px;
  overflow: hidden;
  position: relative;

}
h2 {
  font-size: 125%;
  border: 1px solid black;
  text-align: center;
  width: 100px;
  color: black;
  position: absolute;
  top: 0;
  right: 0;

}
#first {
  background-color: red;
}
#second {
  background-color: #ffedf1;
}
#third {
  background-color: blue;
}

p {
  font-family: Helvetica;
  color: black;
  clear: right;
  width: 90%;
  padding-top: 30px;
  margin-left: 20px;
  margin-right: auto;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Desktop **********/
@media (min-width: 992px) {
  .desk {
    float: left;
    width: 33.33%;
  }
}

/********** Tablet **********/
@media (min-width: 768px) and (max-width: 991px) {
  .tablet1 {
    float: left;
    width: 50%
  }

  .tablet2 {
    float: left;
    width: 100%;
  }
}

/********** Mobile **********/
@media (max-width: 767px) {
  .mobile {
    float: left;
    width: 100%;
  }
}

